@import '/statics/fonts/BoomBoomRegular.css';

$link-color = #3498db
$lime-color = #94e899
$title-lime = #d0fccf


// ——— Main ——————————————————————————————————————


html {
  //font-size: 20px;
  color: #06000d;
  font-family: 'Open Sans', sans-serif;
}


a,.link  {
  text-decoration: none;
  color: $link-color;
}


// ——— Colors ————————————————————————————————————


.send-btn {
  background-color: #5ee22f;
  color: white;
}

.post-btn {
  background-color: $lime-color;
  color: white;
}

.cancel-btn {
  background-color: $warning;
  color: white;
}

.delete-btn {
  background-color: $negative;
  color: white;
}

.bg-pagination {
  background-color: $lime-color !important;
}

.text-pagination {
  color: $link-color !important;
}


// ——— Material styles ———————————————————————————


.material-text, .post-text, .comment-text {
  h3 {
    font-size: 1.55rem;
    font-weight: 500 !important;
    line-height: 1.7rem;
    margin: 35px 0 14px 0 !important;
    border-bottom: 2px dashed #c1dfee;
    padding: 0 0 8px 0;
  }

  h4 {
    font-size: 1.35rem;
    font-weight: 500 !important;
    line-height: 1.4rem;
    margin: 24px 0 10px 0 !important;
    border-bottom: 1px dashed #c1dfee;
    padding: 0 0 6px 0;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: 500 !important;
    line-height: 1.3rem;
    margin: 16px 0 8px 0 !important;
    padding: 0;
  }

  h6 {
    font-size: 1.05rem;
    font-weight: 500 !important;
    line-height: 1.1rem;
    margin: 10px 0 6px 0 !important;
    padding: 0;
  }

  blockquote {
    border-left: 3px solid #a6c59e !important;
    padding: 6px 0 6px 15px;
    background-color: #f6f6f6;
    margin: 0 0 16px 0;
  }
}


// ——— QItems ————————————————————————————————————


.q-router-link--active {
  background-color: #e2f8e8;
}


.menu-panel-title {
  text-align: center;
  margin: 0;
  padding: 7px 0 4px 0;
  text-transform: uppercase;
  font-size: 0.9rem !important;
  font-weight: bolder;
  background-color: #f3ffdd;
  border-bottom: 1px solid #cacaca;
  color: $grey-8;
}


// ——— MainMenu ——————————————————————————————————


.main-menu {

  .logo-div {
    text-align: center;

    .logo {
      margin: 28px 0;
      font-family: "BoomBoomRegular";
      border-radius: 100px;
      padding: 34px 25px;
      display: inline-block;
      border: 1px solid $link-color;
      text-shadow: 1px 1px 1px black;
      background-color: #f6fff4;

      h3 {
        color: $lime-color;
        margin: 0;
        font-size: 2.8rem;
      }

      h4 {
        color: $lime-color
        margin: 0;
        font-size: 2.3rem;
      }
    }
  }

  .q-router-link--active {
    background-color: #d0fccf;

    .q-item__section--main {
      color: black !important;
    }
  }

  .q-item__section--avatar {
    margin: 0 !important;
    padding: 0 !important;
    width: 60px !important;
    color: $link-color !important;
    justify-items: center !important;
    align-items: center !important;
  }

  .q-item__section--main {
    font-size: 1.2em;
    color: black !important;
  }

  .q-item__label--caption {
    font-size: 0.8em;
  }
}


// ——— Layout ————————————————————————————————————


.layout-avatar {
  width: 32px !important;
  height: 32px !important;
  box-shadow: 0px 0px 4px 1.5px white !important;
}

.layout-header {
  border-bottom: 1px solid $lime-color;
}

.main-menu-drawer {
  background-color: $lime-color;
}

.side-menu-drawer {

}

.layout-toolbar {
  background-color: $title-lime;
}

.toolbar-menu-btn {
  color: black;
}

.toolbar-user-btn {
  color: grey;
}

.layout-title {
  font-family: "BoomBoomRegular";
  letter-spacing: 1.4px;
  font-size: 1.7rem;

  a {
    color: orange;
    text-shadow: 0.5px 0.5px 0.5px #686569;
  }
}

.layout-footer {
  text-align: center;
  color: $primary;
  font-family: "BoomBoomRegular";
  font-size: 17px;
  letter-spacing: 1px;
  background-color: #d0fccf;

  div {
    border-top: 1px solid $lime-color;
    padding: 15px 0;
    color: $link-color;
  }

  a {
    color: $link-color;

    &:hover {
      text-decoration: underline;
    }
  }

  .q-icon {
    margin: 0 16px;
    color: #4ae657;
  }
}


