// app global css
@import '~quasar-variables'
@import '/statics/fonts/BoomBoomRegular.css';


// ——— Colors ————————————————————————————————————


$link-color = #3a67d3;


.bg-send {
  background-color: #5ee22f !important;
}

.text-send {
  color: #5ee22f !important;
}

.bg-post {
  background-color: #5ee22f !important;
}

.text-post {
  color: #5ee22f !important;
}

.bg-pagination {
  background-color: #66f532 !important;
}

.text-pagination {
  color: #26a69a !important;
}

.text-hot {
  color: #ff7700;
}

.bg-hot {
  background-color: #ff7700;
}

$q-field-color = #00c63b;

.q-field--focused {
  .q-field__label {
    color: $q-field-color !important;
  }

  .q-field__control {
    color: $q-field-color !important;
  }
}


// ——— Main ————————————————————————————————————


html {
  //font-size: 20px;
  color: #06000d;
  font-family: 'Open Sans', sans-serif;
}


a {
  text-decoration: none;
  color: $link-color
}


// ——— Title ————————————————————————————————————


.q-title {
  padding: $flex-gutter-md 0;
  font-size: 1.3rem;
  line-height: unset;
  font-weight: 500;
  margin: 0;
}

.header-with-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: $flex-gutter-md !important;
  padding-bottom: $flex-gutter-md !important;

  .q-title {
    flex-grow: 1;
    padding: 0 !important;
  }

  button {
    flex-grow: 0;
  }
}


// ——— Menus ————————————————————————————————————


.my-menu {

  .q-item {
    min-height: 40px;
  }

  .q-item__section--avatar {
    width: 28px !important;
    min-width: unset !important;
    padding: 0 !important;
    margin: 0 !important;

    .q-icon {
      font-size: 16px !important;
    }
  }

  .avatar-menu-item {
    .q-item__section--avatar {
      width: 40px !important;
    }

    .avatar {
      margin-left: -6px;
      margin-right: 11px;
      border-radius: 16px
      width: 32px;
      height: 32px;
    }
  }
}


// ——— QItems ————————————————————————————————————

.q-item {
  .my-header {
    //color: $link-color;
    //font-weight: 500;
    //font-size: 1.1em;
  }
}

.q-router-link--active {
  background-color: #e2f8e8;
}

/*.q-avatar {
  @extend $shadow-2;
}*/


// ——— Page paddings ————————————————————————————————————


.q-page {
  padding-bottom: $flex-gutter-xl !important;
}


$paddings = (12px 18px 24px)

page-paddings-block(size) {
  .page-padding {
    padding-right: size !important;
    padding-left: size !important;
  }

  .page-padding-right {
    padding-right: size !important;
  }

  .page-padding-left {
    padding-left: size !important;
  }

  .page-margin {
    margin-right: size !important;
    margin-left: size !important;
  }

  .page-padding-top {
    padding-top: size !important;
  }
}

@media ( max-width: 599px ) {
  page-paddings-block($paddings[0])
}

@media ( min-width: 600px ) and ( max-width: 1023px ) {
  page-paddings-block($paddings[1])
}

@media ( min-width: 1024px ) {
  page-paddings-block($paddings[2])
}


// ——— Elements ————————————————————————————————————


.menu-panel-title {
  text-align: center;
  margin: 0;
  padding: 7px 0 4px 0;
  text-transform: uppercase;
  font-size: 0.9rem !important;
  font-weight: bolder;
  background-color: #f3ffdd;
  border-bottom: 1px solid #cacaca;
  color: $grey-8;
}

.center-form {
  width: 400px;
  display flex;
  flex-direction: column;
  justify-content: stretch;
}

.select-category {
  border: 1px solid rgba(0, 0, 0, 0.54) !important;
  font-weight: normal;

  .q-icon {
    color: rgba(0, 0, 0, 0.54) !important;
  }
}

.captcha-wait-msg {
  font-size: 0.8em;
  color: $negative;
}

.q-editor__toolbar {
  .q-btn {
    font-size: 0.85em !important;
    margin: 3px !important;
  }
}

.info-block {
  display: flex;

  span {
    display: inline-flex;
    margin-right: 10px;
    white-space: nowrap;
    align-items: center;


    .q-icon {
      margin-right: 5px;
    }
  }
}

.error {
  color: var(--q-color-negative);
  font-size: 12px;
  margin-top: 4px;
}

.text-img {
  max-width: 100%;
}

// ——— Extras ————————————————————————————————————


.clear {
  clear: both;
}

.word-break {
  word-break: break-all;
}

.middle {
  align-content: center;
  justify-content: center;
  align-items: center;
}

// ——— Material styles ————————————————————————————————————

.material, .post-preview {
  h3, h4, h5, h6 {
    margin: 8px 0 !important;
  }
}
