@import '~variables';
@import 'fonts/BoomBoomRegular.css';


body {
  color: #06000d;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #3a67d3;
}

.q-title {
  margin-top: 6px;
}

.header-with-button {
  margin-bottom: $flex-gutter-sm;

  .q-title {
    float: left;
    margin-bottom: 6px !important;
  }

  button {
    float: right;
  }
}

.center {
  text-align: center;
}

.text-img {
  max-width: 100%;
}

.full-center {
  align-content: center;
  justify-content: center;
  align-items: center
}

.avatar {
  width: 38px;
  border-radius: 15px;
}

.clear {
  clear: both;
}



// Colors

.bg-post {
  background-color: #66f532 !important;
}


.bg-send {
  background-color: #66f532 !important;
}

.text-send {
  color: #66f532 !important;
}

.bg-pagination {
  background-color: #66f532 !important;
}

.text-pagination {
  color: $primary !important;
}


.q-pagination {
  button {
    color: $secondary !important;
  }
}

.q-field {
  .text-primary {
    color: #55cb2b !important;
  }
}

.inline-flex {
  display: inline-flex;
}

.info-block {
  display: flex;

  span {
    display: inline-flex;
    margin-right: 10px;
    white-space: nowrap;
    align-items: center;


    .q-icon {
      margin-right: 5px;
    }
  }
}


.desktop { // Editor multiline toolbar for desktop

  .q-editor-toolbar-padding {
    flex-wrap: wrap !important;
  }

  .q-editor-toolbar .q-btn-group + .q-btn-group {
    margin-left: unset !important;
    margin-right: 5px !important;
  }

  .q-editor-toolbar-separator .q-btn-group + .q-btn-group {
    padding-left: unset !important;
    padding-right: 5px !important;
  }

  .q-editor-toolbar-separator .q-btn-group + .q-btn-group:before {
    content: unset !important;
    position: unset !important;
    right: unset !important;
    top: unset !important;
    bottom: unset !important;
    height: unset !important;
    width: unset !important;
    background: unset !important;
  }

  .q-editor-toolbar-separator .q-btn-group + .q-btn-group:after {
    content: ' ';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    background: #ccc !important;
  }

  .q-editor-toolbar-separator .q-btn-group:last-child:after {
    content: unset !important;
    position: unset !important;
    right: unset !important;
    top: unset !important;
    bottom: unset !important;
    height: unset !important;
    width: unset !important;
    background: unset !important;
  }
}

.menu-list {
  .q-item-side {
    min-width: 18px !important;
    display: flex !important;
    align-items: center !important;
    justify-items: center !important;

    .q-item-icon {
      font-size: 16px !important;
    }
  }

  .q-item {
    white-space: nowrap;

    .q-icon {
      font-size: 16px !important;
      color: $grey-9;

      &:before {
        width: 18px;
        display: flex;
        //align-items: center;
        //justify-items: center;
        //justify-content: center;
        margin-right: 8px !important;
      }
    }
  }
}

@media (max-width: 400px) {
  .q-layout-page {
    padding: 12px !important;
  }
}

@media ( min-width: 401px ) and ( max-width: 701px ) {
  .q-layout-page {
    padding: 18px !important;
  }
}


