.skin-green-deep html {
  color: #06000d;
}
.skin-green-deep .link {
  text-decoration: none;
  color: #3498db;
}
.skin-green-deep .link:hover {
  color: #2472b3;
  text-decoration: underline;
}
.skin-green-deep .send-btn {
  background-color: #2bda62;
  color: white;
}
.skin-green-deep .post-btn {
  background-color: #2bdad6;
  color: white;
}
.skin-green-deep .cancel-btn {
  background-color: #f2c037;
  color: white;
}
.skin-green-deep .refresh-btn {
  background-color: #31ccec;
  color: white;
}
.skin-green-deep .reset-btn {
  background-color: #31ccec;
  color: white;
}
.skin-green-deep .delete-btn {
  background-color: #c10015;
  color: white;
}
.skin-green-deep .bg-pagination {
  background-color: #9e9e9e;
}
.skin-green-deep .text-pagination {
  color: #757575;
}
.skin-green-deep .q-breadcrumbs__el {
  color: #00acc1;
}
.skin-green-deep .q-breadcrumbs--last .q-breadcrumbs__el {
  color: #9e9e9e;
}
.skin-green-deep .layout__header {
  border-bottom: 1px solid #cbcbcb;
}
.skin-green-deep .layout__toolbar {
  background-color: #69da2b;
}
.skin-green-deep .layout__title {
  letter-spacing: 1.4px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}
.skin-green-deep .layout__sub-title {
  letter-spacing: 1.4px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-top: -10px;
  font-variant: all-petite-caps;
}
.skin-green-deep .main-menu-drawer {
  background-color: unset;
}
.skin-green-deep .layout__toolbar__menu-btn {
  color: white;
}
.skin-green-deep .layout__toolbar__user-btn {
  color: white;
}
.skin-green-deep .layout__avatar {
  width: 32px;
  height: 32px;
  box-shadow: 0px 0px 4px 1.5px white;
}
.skin-green-deep .layout__footer {
  text-align: center;
  color: #3498db;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #f5f5f5;
  padding: 18px 0;
  border-top: 1px solid #cbcbcb;
}
.skin-green-deep .layout__footer-link {
  color: #3498db;
}
.skin-green-deep .layout__footer-line {
  margin: 12px 0;
}
.skin-green-deep .layout__footer-separator-icon {
  margin: 0 16px;
  color: #ffa500;
}
.skin-green-deep .sun-engine-footer__link {
  color: orange;
}
.skin-green-deep .main-menu .q-router-link--active {
  background-color: #adf1ef;
}
.skin-green-deep .main-menu .q-router-link--active .q-item__section--main {
  color: #06000d;
}
.skin-green-deep .main-menu .q-router-link--active .q-item__section--avatar {
  color: #69da2b;
}
.skin-green-deep .main-menu .q-item__section--avatar {
  margin: 0;
  padding: 0;
  width: 60px;
  color: #69da2b;
  justify-items: center;
  align-items: center;
}
.skin-green-deep .main-menu .q-item__section--main {
  font-size: 1.2em;
  color: #06000d;
}
.skin-green-deep .main-menu .q-item__label--caption {
  font-size: 0.8em;
}
.skin-green-deep .side-menu-drawer {
  background-color: unset;
}
.skin-green-deep .side-panel__header {
  text-align: center;
  margin: 0;
  padding: 7px 0 4px 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bolder;
  background-color: #adf1ef;
  border-bottom: 1px solid #f1f1f1;
  color: #666666;
}
.skin-green-deep .side-panel__header-link {
  color: #666666;
}
.skin-green-deep .side-panel__header-icon {
  color: unset;
}
.skin-green-deep .side-panel .q-router-link--active {
  background-color: #d4f0ff;
}
.skin-green-deep .side-panel .q-router-link--active .q-item__section--main {
  color: #3498db;
}
.skin-green-deep .side-panel .q-router-link--active .q-item__section--avatar {
  color: black;
}
.skin-green-deep .material__text,
.skin-green-deep .post__text,
.skin-green-deep .comment__text {
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
}
.skin-green-deep .material__text h3,
.skin-green-deep .post__text h3,
.skin-green-deep .comment__text h3 {
  font-size: 1.55rem;
  font-weight: 500;
  line-height: 1.7rem;
  margin: 35px 0 14px 0;
  border-bottom: 2px dashed #c1dfee;
  padding: 0 0 8px 0;
}
.skin-green-deep .material__text h4,
.skin-green-deep .post__text h4,
.skin-green-deep .comment__text h4 {
  font-size: 1.35rem;
  font-weight: 500;
  line-height: 1.4rem;
  margin: 24px 0 10px 0;
  border-bottom: 1px dashed #c1dfee;
  padding: 0 0 6px 0;
}
.skin-green-deep .material__text h5,
.skin-green-deep .post__text h5,
.skin-green-deep .comment__text h5 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3rem;
  margin: 16px 0 8px 0;
  padding: 0;
}
.skin-green-deep .material__text h6,
.skin-green-deep .post__text h6,
.skin-green-deep .comment__text h6 {
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.1rem;
  margin: 10px 0 6px 0;
  padding: 0;
}
.skin-green-deep .material__text blockquote,
.skin-green-deep .post__text blockquote,
.skin-green-deep .comment__text blockquote {
  border-left: 3px solid #a6c59e;
  padding: 6px 0 6px 15px;
  background-color: unset;
  color: unset;
  margin: 0 0 16px 0;
}
.skin-green-deep .index-page__header {
  color: orange;
}
.skin-green-deep .index-page__info-block-accent {
  color: unset;
}

/*# sourceMappingURL=styles.css.map */
