// app global css
@import '~quasar-variables'
@import '/css/fonts/BoomBoomRegular.css';

// ——— Colors ————————————————————————————————————

html {
  font-size: 20px;
}

body {
  color: #06000d;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #3a67d3;
}


.bg-send {
  background-color: #5ee22f !important;
}

.text-send {
  color: #5ee22f !important;
}

.bg-post {
  background-color: #5ee22f !important;
}

.text-post {
  color: #5ee22f !important;
}

$q-field-color = #00c63b;

.q-field--focused {
  .q-field__label {
    color: $q-field-color !important;
  }

  .q-field__control {
    color: $q-field-color !important;
  }
}

.error {
  color: var(--q-color-negative);
  font-size: 12px;
  margin-top: 4px;
}


// ——— Extras ————————————————————————————————————


.clear {
  clear: both;
}


.info-block {
  display: flex;

  span {
    display: inline-flex;
    margin-right: 10px;
    white-space: nowrap;
    align-items: center;


    .q-icon {
      margin-right: 5px;
    }
  }
}

// ——— Forms ————————————————————————————————————


.center-form {
  width: 400px;
  display flex;
  flex-direction: column;
  justify-content: stretch;
}


// ——— Menus ————————————————————————————————————


.my-menu {
  .q-item {
    min-height: 40px;
  }

  .q-item__section--avatar {
    width: 28px !important;
    min-width: unset !important;
    padding: 0 !important;
    margin: 0 !important;

    .q-icon {
      font-size: 16px !important;
    }
  }
}

// ——— Title ————————————————————————————————————


.q-title {
  margin-top: $flex-gutter-sm !important;
  margin-bottom: $flex-gutter-sm !important;
  font-size: 1.3rem;
  line-height: unset;
  padding: 0;
}

.header-with-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: $flex-gutter-sm !important;
  margin-bottom: $flex-gutter-sm !important;


  .q-title {
    flex-grow: 1;
    margin: 0 $flex-gutter-sm 0 0 !important;
  }

  button {
    flex-grow: 0;
  }
}


// ——— Page paddings ————————————————————————————————————

.q-page {
  padding-bottom: $flex-gutter-xl !important;
}

/*.page-margin-bottom {
  margin-bottom: $flex-gutter-lg !important;
}

.page-padding-bottom {
  padding-bottom: $flex-gutter-lg !important;
}*/


$paddings = (12px 18px 24px)

page-paddings-block(size) {
  .page-padding {
    padding-right: size !important;
    padding-left: size !important;
  }

  .page-padding-right {
    padding-right: size !important;
  }

  .page-padding-left {
    padding-left: size !important;
  }

  .page-margin {
    margin-right: size !important;
    margin-left: size !important;
  }
}

@media ( max-width: 599px ) {
  page-paddings-block($paddings[0])
}

@media ( min-width: 600px ) and ( max-width: 1023px ) {
  page-paddings-block($paddings[1])
}

@media ( min-width: 1024px ) {
  page-paddings-block($paddings[2])
}


// ——— QEditor ————————————————————————————————————


.q-editor-toolbar {
  .q-btn {
    font-size: 0.6rem !important;
  }
}
