// app global css

a {
  text-decoration: none;
  color: #3a67d3;
}

.center-form {
  width: 400px;
  display flex;
  flex-direction: column;
  justify-content: stretch;
}

.bg-send {
  background-color: #66f532 !important;
}

.text-send {
  color: #66f532 !important;
}
