$primary   : #027BE3;
$secondary : #26A69A;
$accent    : #9C27B0;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$body-font-size : 14px;

$link-color: #3498db;
