[Unit]
Description=<SiteName>

[Service]
WorkingDirectory=<SiteDir>
ExecStart=/usr/bin/dotnet <SiteDir>Server/SunEngine.dll server
SyslogIdentifier=<SiteName>
User=<SiteUser>
Restart=always
RestartSec=10
KillSignal=SIGINT
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
