$text-color: #06000d;
$link-color: #3498db;
$menu-color: unset;
$menu-icon-color: $link-color;
$menu-link-color: unset;
$header-background-color: #24c7ff;
$header-text-color: white;
$header-border-color: #cbcbcb;
$header-menu-icon-color: white;
$header-user-color: white;
$footer-background-color: #d4f0ff;
$footer-text-color: #3498db;
$footer-link-color: #3498db;
$footer-border-color: #cbcbcb;
$panel-header-background: #c3edda;
$panel-header-color: #666666;
