name: Quasar

#on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: npm install, build, and test
      run: |
        cd Client
        cp -RT src/site.template src/site
        npm install
        npm install -g @quasar/cli
        npx quasar build
      env:
        CI: true
